.footer{
   width:250px;
   margin-top:190px;
   left:543px;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: normal;
   text-align: right;
   }