.gallery{ 
    display: grid;
    max-width: 1280px;
    width:100%;
    /*height: 442px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-top: 80px;
    }

.gallery__image{
     
    width: 100%;
    max-width: 284px;
    height: 213px;
    object-fit: cover;

}

@media screen and (max-width: 320px){ 
.gallery{

    display:grid;
    max-width: 288px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    gap:15px

}



}



@media screen and (min-width: 321px) and (max-width:768px){

    .gallery{
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        max-width: 720px;
        width:80%;
        gap: 16px;
        
    }
    }
 


