.header{
    width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and  (max-width: 1279px) and (min-width: 768px)
    { 
    .header {
        width:768px;
    }
    
}

@media screen and  (max-width: 767px) { 
    .header {
        width:320px;
    }
    
}