.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media screen and  (max-width: 1279px) and (min-width: 768px)
    { 
    
    
}

@media screen and  (max-width: 767px) { 
   
    
}


.header__logo{
    width: 255px;
    height: 69px;
    margin-top:34px;
    left:513px;
}


@media screen and (max-width: 320px){
   .header__logo{ 
    width: 188px;
    height: 52px;
    margin-top: 20px;
    left: 66px;

}

    }

    /*TABLET */
@media screen and (max-width: 768px){
   .header__logo{ 
    width: 254px;
    height: 66px;
    margin-top: 30px;
    left: 257px;

}

    }