.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and  (max-width: 1279px) and (min-width: 768px)
    { 
    
    
}

@media screen and  (max-width: 767px) { 
   
    
}