.intro{
   width: 830px;
   display: flex;
   flex-direction: column;
   text-align: left;
}


.intro__title {
   width: 830px;
   height: 174px;
   /*top:1269px;
   left:148px;*/
   font-weight: 900;
   font-size: 54px;
   line-height: 58px;
   letter-spacing: 0%;

}


.intro__paragrhap{
   width: 738px;
   height: 135.66px;
   font-weight: 400;
   font-size: 24px;
   line-height: 34px;
   letter-spacing: 0%;
}

.intro__autor{
   
   width: 732px;
   height: 34px;
   /*top:1628.56px;
   left: 148px;*/
   font-weight: 400;
   font-size: 24px;
   line-height: 34px;
   letter-spacing: 0%;
   text-align: right;
}

.intro__description {
    width: 722px;
    height: 181.54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;

}