.intro{
   max-width: 984px;
   display: flex;
   flex-direction: column;
   text-align: left;
}


.intro__title {
   width: 100%;
   max-width: 710px;
   /*top:1269px;
   left:148px;*/
   font-weight: 900;
   font-size: 45px;
   line-height: 0.8;
   letter-spacing: normal;

}


.intro__paragrhap{
   width: 100%;
   max-width: 720px;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.3;
   text-align: left;
   margin:40px 0 10px;
}

.intro__autor{
   
   width: 100%;
   position: relative;
   right: 150px;
   /*top:1628.56px;
   left: 148px;*/
   font-weight: 400;
   font-size: 24px;
   line-height: 1.5;
   letter-spacing: normal;
   text-align: right;
}

.intro__description {
    max-width: 719px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;


}