.intro{
   max-width: 984px;
   display: flex;
   flex-direction: column;
   text-align: left;
   padding-top: 56px;
   padding-bottom: 56px;
   margin: 0 auto;
}


.intro__title {
   width: 90%;
   max-width: 710px;
   /*top:1269px;
   left:148px;*/
   font-weight: 700;
   font-size: 45px;
   line-height: 0.9;
   letter-spacing: normal;
   font-family: "Inter";
   

}


.intro__paragrhap{
   width: 91.54%;
   max-width: 720px;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.3;
   text-align: left;
   margin:40px 0 10px;
   font-family: "Inter";
   
}

.intro__autor{
   
   width: 90%;
   position: relative;
   right: 250px;
   /*top:1628.56px;
   left: 148px;*/
   font-weight: 400;
   font-size: 24px;
   line-height: 1.5;
   letter-spacing: normal;
   text-align: right;
}

.intro__description {
    max-width: 719px;
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;


}

@media screen and (max-width: 320px) {
  
  .intro__autor{
   position: relative;
   right: 19px;
   text-align: right;
}



}

@media screen and (min-width: 321px) and (max-width:768px){
   .intro{
      width: 720px;
      height: 573px;
      margin: auto;
   }
 
 .intro__paragrhap{
   font-family: "Inter";
   max-width: 700px;
   height: 136px;
   font-size: 21px;
   line-height: 30px;
   }

.intro__autor{
   position: relative;
   right: 14px;
   text-align: right;
   max-width: 720px;
   height: 34px;
   }
.intro__description{
   max-width: 720px;
   height: 182px;
   font-family: "Inter";
   letter-spacing: 0.19px;

   font-size:14px;

}
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
   .intro{
      padding:0 40px ;
      width: 98%;
      
   }
   .intro__autor{
      right: 153PX;
   }
 }