.lead{
    width: 984px;
    height: 983px;
    top: 194px;
    left: 148px;
    }

.lead__title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    
    width: 720px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;


}

.lead__image {
    
    width: 984px;
    height: 615px;
    object-fit: contain;
    filter: grayscale(100%);


}

@media screen and (max-width: 320px){
   
    .lead__title {
    font-size: 40px;
    line-height: 44px;
   }
    .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
   }
    .lead__image {
    height: 200px;
   
   }

    }
@media screen and (max-width: 768px){
   
    .lead__title {
    font-size: 75px;
    line-height: 79px;
   }
    .lead__subtitle {
    font-size: 30px;
    line-height: 30px;
   }
    .lead__image {
    height: 768px;
   
   }

    }