.lead {
  max-width: 984PX;
  width: 100%;
  height: auto;
  top: 194px;
  left: 148px;
  margin: 0 auto;
}

.lead__title {
  width: 80%;
  margin: 0 auto;
  font-size: 96px;
  line-height: 96px;
  font-weight: 900;
  text-align: center;
  margin-top: 70px;
             
}

.lead__subtitle {
  display: block;
  max-width: 720px;
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
}

.lead__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  margin: auto;
}



@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 38px;
    line-height: 38px;
    margin-top: 40px;
    width: 70%;
    
  }

  .lead__subtitle {
    font-size: 14px;
    line-height: 16px;
    
  }

  .lead__image {
    height: auto;
    margin: auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__title {
    font-size: 48px;
    line-height: 48px;
    width: 50%;
    margin-top: 30px;
  }
  .lead__subtitle {
    font-size: 30px;
    line-height: 30px;
  }
  .lead__image{
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .lead__title {
    font-size: 70px;
    line-height: 76px;
    margin-top: 55px;
    width: 50%;
  }
  .lead__subtitle {
    font-size: 30px;
    line-height: 38px;
  }
}
