.places{
 display: grid;
 max-width: 987px;
 margin: 0 auto;
 margin-top: 80px;
 



}

.place{
 display:grid;
 grid-template-columns: 460px 484px;
 grid-template-rows: auto auto 1fr;

 grid-template-areas: 
 "places__city wensite"
 "places__image place__paragraphs"
 "place__button place__paragraphs"
 ;
 gap:34px;
 margin-top: 80px;
}
.places__city{

  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 50px;        /* bajar tamaño */
  font-weight: bold;
  color: #fff;

  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.places__Artista{
    max-width: 86px;
    height: 15px;
    font-weight: 400;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 12px;
    letter-spacing: 04px;

}

.wensite{ 
    grid-area:wensite;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
    
}
.places__author1{
    max-width: 329.66px;
    height: 22px;
    font-family:"Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color:#ffffff;

}

.places__author2{
    max-width: 455px;
    height: 22px;
    font-family:"Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color:#ffffff;

}







 
.places__image{
    grid-area:place__image;
    max-width: 460px;
    height: 460px;;
    left: 151px;
    

    
    }
.imagen__place{
    max-width: 460px;
    height: 460px;
    background: #000000;
    box-shadow: 10px 10px 25px 0px #00000080;
}
.place__button{
    place-self: self-start;
    font-family: "Inter";
    font-weight: 400;
    line-height: 100%;
    grid-area:place__button;
    font-size: 18px;
    background-color: blue;
    color: #fff;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    box-shadow: 5px 5px 10px 0px #00000040;
    text-decoration: none;
    max-width: 300px;
    width: 100%;
    height: 49px;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}
.place__paragraphs{
    grid-area:place__paragraphs;
    
    
}
.place__paragraph1{
    
    max-width: 484px;
    font-weight: 400;
    margin: auto;
    
    font-family:"Inter";
    font-size:18px;
    line-height: 163%;
    color:#ffffff;
    letter-spacing: 0px;

    

        


}
.place__paragraph2{
    
    max-width: 484px;
    font-weight: 400;

    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color:#ffffff;
    letter-spacing: 0;
    margin-top: 20px;

    
    
    
}

@media screen and (max-width: 320px) {

.place{
 display:grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto auto auto auto auto auto;
 grid-template-areas: 
 "places__city"
 "wensite"
 "places__image" 
 "place__paragraphs"
 "place__paragraphs"
 "place__button"
 ;

}

.places__city{
    max-width: 288px;
    width: 100%;
    font-size: 32px;



}

.places__image {
    max-width: 320px;
    width: 100%;
    height: 320px;
}

.imagen__place{
    max-width: 320px;
    width: 100%;
    height: 320px;
}







}







































@media screen and (min-width: 321px) and (max-width:768px){
.places{
 display: grid;
 max-width: 720px;
 margin: 0 auto;
 margin-top: 80px;
 



}

.place{
    
    
    display:grid;
    grid-template-columns: 340px 4352px;
    grid-template-rows: auto auto 1fr;

    grid-template-areas: 
    "places__city wensite"
    "places__image place__paragraphs"
    "place__button place__paragraphs"
                              ;
    gap:15px;


}
 
.places__city{
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 40px;        /* bajar tamaño */
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;

}
.places__Artista{
    max-width: 67px;
    height: 12px;
    font-weight: 400;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 12px;
    letter-spacing: 04px;

}

.wensite{ 
    grid-area:wensite;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
    
}
.places__author1{
    max-width: 329.66px;
    height: 22px;
    font-family:"Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color:#ffffff;

}

.places__author2{
    max-width: 455px;
    height: 22px;
    font-family:"Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color:#ffffff;

}







 
.places__image{
    grid-area:place__image;
    max-width: 340px;
    height: 340px;
    left: 24px;
    

    
    }
.imagen__place{
    max-width: 340px;
    height: 340px;
    background: #000000;
    box-shadow: 10px 10px 25px 0px #00000080;
}
.place__button{
    place-self: self-start;
    font-family: "Inter";
    font-weight: 400;
    line-height: 100%;
    grid-area:place__button;
    font-size: 18px;
    background-color: blue;
    color: #fff;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    box-shadow: 5px 5px 10px 0px #00000040;
    text-decoration: none;
    margin-top: 26px;
    max-width: 289px;
    width: 100%;
    height: 49px;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}
.place__paragraphs{
    grid-area:place__paragraphs;
    max-width: 352px;
    
    
}
.place__paragraph1{
    
    max-width: 352px;
    font-weight: 400;
    margin: auto;
    font-family:"Inter";
    font-size:16px;
    line-height: 163%;
    color:#ffffff;
    letter-spacing: 0px;

    

        


}
.place__paragraph2{
    
    max-width: 352px;
    font-weight: 400;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color:#ffffff;
    letter-spacing: 0;
    margin-top: 20px;

    
    
    
}


} 